<div class="mypage">
  <div class="mypage-container">
    <div class="section-title">
      <h3>マイページ</h3>
    </div><!-- /.section-title -->
    <div class="mypage-img">
      <% if current_user.image? %>
      <img src=<%= current_user.image %>>
      <% else %>
      <img src="/assets/profile-image.png" %>
      <% end %>
    </div><!-- /.mypage-img -->

    <div class="mypage-profile">
      <ul>
        <li><%= current_user.name %></li>
        <li><%= current_user.email %></li>
      </ul>
    </div><!-- /.mypage-profile -->

    <div class="mypage-favorite">
      <div class="section-title">
        <h3>お気に入り</h3>
      </div><!-- /.section-title -->
      <table>
        <thead>
          <tr>
            <th>店舗名</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>

          <% if @user.favorites.present? %>
          <% @user.favorites.each do |favorite| %>
          <tr>
            <td class="mypage-favorite-name">
              <span>

                <%= button_to "❤︎", destroy_favorite_path(favorite.hall.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" } , class: "favorite-check" %>

              </span>
              <%= link_to "#{favorite.hall.name}", billisearch_hall_path(favorite.hall.id)  %>
            </td>
            <td>
              <%= favorite.hall.address %>
            </td>
          </tr>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div><!-- /.mypage-favorite -->

  </div><!-- /.mypage-container -->
</div><!-- /.mypage -->

<script type="text/javascript">
  function check() {
    if (window.confirm('本当に削除しますか？')) {
      return true;
    } else {
      window.alert('キャンセルされました');
      return false;
    }
  }
</script>
