<div class="mypage">
  <div class="mypage-container">
    <h2>マイページ</h2>
    <div class="mypage-img">
      <% if current_user.image? %>
      <img src=<%= current_user.image %>>
      <% else %>
      <img src="/assets/profile-image.png" %>
      <% end %>
    </div><!-- /.mypage-img -->
    <table>
      <tr>
        <td>ユーザー名</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= current_user.email %></td>
      </tr>
    </table>

    <div class="mypage-favorite">
      <table>
        <thead>
          <tr>
            <th>店舗名</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>

          <% if @user.favorites.present? %>
          <% @user.favorites.each do |favorite| %>
          <tr>
            <td>
              <%= link_to "#{favorite.hall.name}", billisearch_hall_path(favorite.hall.id)  %>
            </td>
            <td>
              <%= favorite.hall.address %>
            </td>
          </tr>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div><!-- /.mypage-favorite -->

  </div><!-- /.mypage-container -->
</div><!-- /.mypage -->
