<div class="mypage">
  <div class="mypage-container">
    <div class="section-title">
      <h3 class="wow fadeInUp">マイページ</h3>
    </div><!-- /.section-title -->
    <div class="mypage-img wow fadeInUp">
      <% if current_user.image? %>
      <img src=<%= current_user.image %>>
      <% else %>
      <img src="/assets/profile-image.png" %>
      <% end %>
    </div><!-- /.mypage-img -->

    <div class="mypage-profile wow fadeInUp">
      <ul>
        <li><%= current_user.name %></li>
        <li><%= current_user.email %></li>
      </ul>
    </div><!-- /.mypage-profile -->

    <div class="mypage-favorite">
      <div class="section-title wow fadeInUp">
        <h3>お気に入り</h3>
      </div><!-- /.section-title -->


      <% if @user.favorites.present? %>
      <ul class="mypage-halls-list">
        <% @user.favorites.each do |favorite| %>
        <li class="mypage-halls-item wow fadeInUp">
          <div class="mypage-halls-item-inner">
            <div class="mypage-halls-img">
              <img src="/assets/playplan.jpg" %>
            </div><!-- /.mypage-halls-img -->

            <%= button_to destroy_favorite_path(favorite.hall.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" } , class: "favorite-check" do %>
            <i></i>
            <% end %>
            <%= link_to "#{favorite.hall.name}", billisearch_hall_path(favorite.hall.id), class: "mypage-halls-item-name" %>
            <p>
              <%= favorite.hall.address %>
            </p>
            <%= link_to "詳細はこちら",  billisearch_hall_path(favorite.hall.id), class:"mypage-halls-item-show" %>
            <% end %>
          </div><!-- /.mypage-halls-item-inner -->
        </li><!-- /.mypage-halls-item -->
      </ul><!-- /.mypage-halls-list -->
      <div class="mypage-halls-pagination">
        <%= paginate @user_favorites_pagination %>
      </div><!-- /.mypage-halls-pegination -->
      <% end %>

    </div><!-- /.mypage-favorite -->

  </div><!-- /.mypage-container -->
</div><!-- /.mypage -->
