<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>

  <body>
    <header class="header">
      <div class="header-left"><img src="/assets/logo.png" alt=""></div><!-- /.header-logo -->
      <div class="header-right">
        <ul class="header-list">
          <li class="header-item"><a href="">トップ画面</a></li><!-- /.header-item -->
          <li class="header-item"><%= link_to "ビリヤード場一覧", billisearch_halls_path %></li><!-- /.header-item -->
          <li class="header-item"><%= link_to "ビリヤード場登録", new_billisearch_hall_path %></li><!-- /.header-item -->
          <li class="header-item"><a href="">ログイン</a></li><!-- /.header-item -->
          <li class="header-item"><a href="">新規登録</a></li><!-- /.header-item -->
        </ul><!-- /.header-list -->
      </div><!-- /.header-right -->
    </header><!-- /.header -->

    <section class="halls">
      <h3>ビリヤード場一覧</h3>
      <table>
        <thead>
          <tr>
            <th>店舗名</th>
            <th>住所</th>
            <th>料金</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @halls.each do |h| %>
          <tr>
            <td><%= link_to "#{h.name}", billisearch_hall_path(h)  %></td>
            <td><%= h.address %></td>
            <td><%= h.price %></td>
            <td>
              <%= button_to "削除", billisearch_hall_path(h), method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section><!-- /.halls -->

    <footer>
      © 2021 Copyright: billisearch.com
    </footer>
    <script src="./js/script.js"></script>
  </body>

</html>
