<!DOCTYPE html>
<html lang="ja">

  <body>
    <section class="halls">
      <h3>ビリヤード場一覧</h3>
      <table>
        <thead>
          <tr>
            <th class="name">店舗名</th>
            <th class="address">住所</th>
            <th class="delete">削除</th>

          </tr>
        </thead>
        <tbody>
          <% @halls.each do |h| %>
          <tr>
            <td>
              <span>
              <%= h.favorites.count %>
              </span>
              <span>
                <!-- サインインしている場合 -->
                <% if user_signed_in? %>
                <% if current_user.favorite_find(h.id) %>
                <%= button_to '❤︎', destroy_favorite_path(h.id), method: :delete, class: "favorite-check" %>
                <% else %>
                <%= button_to '❤︎', create_favorite_path(h.id) , method: :post , class: "favorite-no-check" %>
                <% end %>
                <!-- サインインしていない場合 -->
                <% else %>
                <%= button_to '❤︎' , class: "favorite-no-check" %>
                <% end %>
              </span>
              <%= link_to "#{h.name}", billisearch_hall_path(h)  %>
            </td>
            <td><%= h.address %></td>
            <td>
              <%= button_to "削除", billisearch_hall_path(h), method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section><!-- /.halls -->

    <script src="./js/script.js"></script>
  </body>

</html>
