<div class="new-hall">
  <h3>ビリヤード場新規作成</h3>
  <%= form_with model: @hall, url: billisearch_halls_path do |f| %>
    <table>
      <tr>
        <th><%= f.label :image ,"画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <th><%= f.label :name ,"店名" %></th>
        <td><%= f.text_area :name %></td>
      </tr>
      <tr>
        <th><%= f.label :address ,"住所" %></th>
        <td><%= f.text_area :address %></td>
      </tr>
      <tr>
        <th><%= f.label :tel ,"電話番号" %></th>
        <td><%= f.text_area :tel %></td>
      </tr>
      <tr>
        <th><%= f.label :email ,"メールアドレス" %></th>
        <td><%= f.text_area :email %></td>
      </tr>
      <tr>
        <th><%= f.label :price ,"料金" %></th>
        <td><%= f.text_area :price %></td>
      </tr>
      <tr>
        <th><%= f.label :parking ,"駐車場" %></th>
        <td><%= f.text_area :parking %></td>
      </tr>
      <tr>
        <th><%= f.label :time ,"営業時間" %></th>
        <td><%= f.text_area :time %></td>
      </tr>
      <tr>
        <th><%= f.label :billiards ,"台数" %></th>
        <td><%= f.text_area :billiards %></td>
      </tr>
      <tr>
        <th><%= f.label :open , "営業状態" %></th>
        <td><%= f.text_area :open %></td>
      </tr>
      <tr>
        <th><%= f.label :url ,"URL" %></th>
        <td><%= f.text_area :url %></td>
      </tr>
      <tr>
        <th><%= f.label :pr ,"お店のPR" %></th>
        <td><%= f.text_area :pr %></td>
      </tr>
      <tr>
        <th><%= f.label :lead ,"補足事項" %></th>
        <td><%= f.text_area :lead %></td>
      </tr>
    </table>
    <div>
      <ul>
        <li><%= f.submit "登録完了する"%></li>
      </ul>
    </div>
  <% end %>
</div>
<!-- /.new-hall -->
